@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.uniq-TS-Developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  height: 100px;
  background-color: #183457;
}

.uniq-TS-Developer h1 {
  font-weight: 200;
  font-size: 14px;
  color: white;
}

.uniq-TS-Developer h1 a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

.uniq-TS-Canvas2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  height: 200px;
  background-color: #183457;
}

.uniq-TS-Canvas2 h1 {
  font-weight: 300;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
}

.uniq-TS-Canvas3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  height: 200px;
  background-color: #183457;
}

.uniq-TS-Canvas3 h1 {
  font-weight: 300;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
}

.loader-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #183457;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader-container p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #183457;
  margin-top: 20px;
  text-align: center;
}

.uniq-TS-Scroll-Message {
  width: 14px;
  background-color: #dbe1ff;
  padding: 15px 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: scrollUpDown 3s ease-in-out infinite;
}

@keyframes scrollUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.uniq-TS-Scroll-Message p {
  font-size: 10px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #183457;
}

.uniq-TS-Scroll-Message p span {
  margin-top: -5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uniq-TS-launch-page-container-m {
  background-color: #dbe1ff;
  scroll-behavior: smooth;
}

.uniq-TS-Hook-m {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.uniq-TS-Hook-text-m {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
}

.uniq-TS-Hook-text-m h1 {
  font-size: 75px;
  font-weight: 300;
  font-family: "Poppins";
  text-transform: uppercase;
}

.title-part-Hook-1 {
  z-index: 10;
}

.title-part-Hook-2 {
  opacity: 0;
}

.title-part-Hook-3 {
  opacity: 0;
}
.title-part-Hook-4 {
  opacity: 0;
}


























.uniq-TS-title-m {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uniq-TS-title-text-m {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  position: sticky;
  top: -10%;
  background-color: #dbe1ff;
}

.uniq-TS-title-text-m h1 {
  font-size: 90px;
  font-weight: 300;
  text-transform: uppercase;
  position: sticky;
  top: 35%;
  background-color: #dbe1ff;
  width: 100%;
  text-align: center;
}

/* Canvas 1 */
.uniq-TS-product-container-m {
  height: 150vh;
  display: flex;
  justify-content: center;
}

#uniq-TS-frame_1_m {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 15%;
}

/* Canvas 2 */

.uniq-TS-product-container-m-2 {
  height: 150vh;
  display: flex;
  justify-content: center;
}

#uniq-TS-frame_2_m {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 15%;
}

.extra-scroll {
  height: 100vh;
  background-color: #dbe1ff;
  align-items: center;
}

/* Canvas 3 */

.uniq-TS-product-container-m-3 {
  height: 150vh;
  display: flex;
  justify-content: center;
}

#uniq-TS-frame_3_m {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 15%;
}
